<div class="container">
    <div class="col-sm-6">
      <img src="images/graph.png" alt="">
    </div>
    <div class="col-sm-6">
      <h1>Reach out to us!</h1>
      <p>Enter your email if you're interested to learn more:</p>
      <form action="/subscriber" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" value="">
        <br>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" value="">
        <br>
        <label for="zipCode">ZipCode</label>
        <input type="text" name="zipCode" placeholder="ZipCode" pattern="[0-9]{5}" value="">
        <br>
        <input class="button" type="submit" value="submit">
      </form>
      <p> We'll get back to you soon!</p>
    </div>
  </div>
  